.form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            gap: 0.5rem;
        }
    }

    &__labels {
        position: sticky;
        top: -17px;
        left: 0;
        right: 0;
        margin-bottom: 1rem;
        background: #FFF;
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        padding-right: 34px;
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: auto;
        height: 1px;
        padding: 1rem 1rem 1rem 0.5rem;
        scrollbar-width: thin;
        scrollbar-color: var(--bs-primary) var(--bs-primary-bg-subtle);
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: var(--bs-primary);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--bs-primary-bg-subtle);
            border-radius: 4px;
        }
        &-inner{
            min-width: 900px;
        }
    }

    &__hint {
        background-color: var(--bs-primary-bg-subtle);
        padding: 1rem;
        margin-bottom: 1rem;
        border-left: 5px solid var(--bs-primary);

    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 34px;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;

        &:first-child {
            margin-top: 1rem;
        }
    }
}